/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: 'Bebas';
  src: asset-data-url('BEBAS.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncodeSans600';
  src: asset-data-url('EncodeSans600.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncodeSans400';
  src: asset-data-url('EncodeSans400.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncodeSans800';
  src: asset-data-url('EncodeSans800.ttf');
  font-weight: normal;
  font-style: normal;
}
body{
  margin: 0;
}

.main-header{
  padding: 1.2%;
  border-bottom: 1px solid #abafb2;
  color: #494d54;
  .num{
    margin-top: 7%;
    font-size: 2.2vw;
    .text{
      font-family: 'Bebas';
    }
  }
}
.blue-line{
  margin-bottom: 0;
  margin-top: 0;
  border-top: 10px solid #00A2E3;
  width: 80%;
  position: absolute;
  margin-left: 10%;
}
.logo-wrapper{
  min-width: 175px;
  width: 25%;
  margin: 0 auto;
  img{
    width:100%;
  }
}

.banner-row{
  img{
    width: 100%;
  }
}

.printing-services{

}

.why-us{
  background: #494d54;
  color: white;
  padding: 30px 0;
}

.main-footer{
  background: #e5e5e5;
  padding: 15px;
  color: #494d54;
  border-top: 1px solid #aeb2b5;
  font-family: 'EncodeSans400';
}

.dark{
  color: #494D56;
  font-weight: bolder;
}
.quality{
  padding: 3%;
  background: #82D1F2;
}
.icon{
  background: asset-data-url('icons.png');
}
.call-icon{
  width: 20px;
  height: 20px;
  background-position: -120px -20px;
  display: inline-block;
}
.call-icon-wrapper{
  padding: 14px 11px 8px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  font-size: 20px;
  top: -5px;
  position: relative;
}
h3{
  font-family: 'EncodeSans800';
  @media (max-width: 768px) {
    font-size: 5vw;
  }
  font-size: 3vw;
}
h4{
  font-family: 'EncodeSans800';
  font-size: 20px;
  color: #494d54;
}
.primary-text{
  font-family: 'EncodeSans400';
  font-size: 14px;
  color: #494d54;
}
.quote-text{
  font-family: 'EncodeSans400';
  font-size: 16px;
  color: #494d54;
  margin-left: 50px;
  padding-top: 35px;
}
h5{
  font-family: 'EncodeSans600';
  font-size: 20px;
  &.italic{
    font-style: italic;
  }
  &.primary-color{
    color: #494d54;
  }
}
.h-icon{
  background: asset-data-url('offering-tagline-lines.png');
  width: 50px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  &.left{
    background-position: -40px -10px;
    margin-right: 15px;
  }

  &.right{
    background-position: 0px -10px;
    margin-left: 15px;
  }
}
.quote-icon{
  background: asset-data-url('quote.png');
  width: 76px;
  height: 60px;
  display: inline-block;
  position: absolute;
  z-index: -1;
}
.feedback{
  blockquote{
    padding: 0;
    margin: 0 0 20px;
    border: none;
    font-size: 16px;
  }
}
.client-name{
  color: #777a7f;
  font-family: 'EncodeSans400';
  font-size: 15px;
}
.s-icons{
  background: asset-data-url('icons.png');
  width: 13px;
  height: 17px;
  display: inline-block;
  background-size: 25px 150px;
  &.location{
    background-position: -3px 0px;
    margin-right: 3px;
    position: relative;
    top: 3px;
  }
  &.call{
    background-position: -1px -17px;
    margin-right: 3px;
    position: relative;
    top: 3px;
  }
  &.email{
    background-position: 0px -33px;
    margin-right: 3px;
    position: relative;
    top: 3px;
    width:17px;
  }
}
.f-icon{
  background: asset-data-url('features.png');
  width: 150px;
  height: 150px;
  margin: 0 auto;
  &.sq{
    background-position: 0px 0px;
  }
  &.qep{
    background-position: 0px -150px;
  }
  &.bo{
    background-position: 0px -300px;
  }
  &.otd{
    background-position: 0px -450px;
  }
}
.feature-name{
  font-family: 'EncodeSans600';
  font-size: 15px;
  color: white;
}