<div class="row banner-row">
  <div class="col-xs-12">
    Graphic <br/>
    that follows you
    <p>
      Everything you can imagine is real.
    </p>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-xs-12">
    <h3 class="dark text-center">Printing Services We Offer</h3>
    <h6 class="dark text-center">Together we share a passion for producing wearable art that tells a story,
      strengthens humanity and inspires life through creativity & design.</h6>
    <div class="printing-services">

    </div>
  </div>
</div>
<br/>
<br/>
<div class="row why-us">
  <div class="col-xs-12">
    <h4 class="text-center">"All the products are trusted by the clients and we have marked a distinct position in the market."</h4>

  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-xs-12 col-md-6" style="background: #E5E5E5;">
        <div class="pull-left" style="width: 70%;padding: 3%;">
          <h4 class="dark">Our Team</h4>
          <span>
            Madhu Print is blessed with a team of expert professionals who are well-versed with their profession. The team is always ready to cater to all the needs and queries of the clients. At the time of delivery the clients are provided with the complete knowledge of the products, the features and various other aspects.
          </span>
        </div>
        <%= image_tag 'team.jpg', class: 'pull-right' %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h4 class="dark">What our customer has to say!</h4>
        <div class="feedback">
          <blockquote>
            <p>Great customer service, shirts arrived on the date promised, quality and printing was perfect!</p>
            <footer><cite title="Source Title">Vaibhav Aggarwal</cite></footer>
          </blockquote>
        </div>
        <div class="quality">
          <h4 class="dark">Quality Assurance</h4>
          All the Transfer Stickers manufactured by us are of superior quality. The Transfer Stickers pass the entire necessary quality control test before they are delivered to the customers. The tests are conducted in the presence of the quality control officer.
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="pull-right">
      <h4 class="dark">
        Contact Us
      </h4>
      <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        House No.4, Gali No. 1, Gurmandi, Delhi-110007
      </p>
      <p>
        +91-9910855144, +91-9910018514
      </p>
      <p>
        pulkit_oswal@hotmail.com
      </p>
    </div>
  </div>
</div>