<div class="row banner-row">

  <hr class="blue-line"/>

  <%= image_tag 'banner-1920.jpg', class: 'visible-lg' %>

  <%= image_tag 'banner-1366.jpg', class: 'visible-sm visible-md' %>

  <%= image_tag 'banner-mobile.jpg', class: 'visible-xs' %>

</div>
<br/>
<div class="row">
  <div class="col-xs-12">
    <h3 class="dark text-center"><span class="h-icon left"></span>Printing Services We Offer<span class="h-icon right"></span></h3>
    <h6 class="dark text-center">Everything you can imagine is real.</h6>
    <div class="printing-services">
    </div>
  </div>
</div>
<br/>
<br/>
<div class="row why-us">
  <div class="col-xs-12">
    <h5 class="text-center italic bold"><span class="h-icon left"></span>"All the products are trusted by the clients and we have marked a distinct position in the market."<span class="h-icon right"></span></h5>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="row" style="margin: 0 15px;">
      <div class="col-xs-12 col-md-6" style="background: #e5e5e5;padding:0;margin-bottom: 20px;">
        <div class="pull-left" style="width: 70%;padding: 3%;">
          <h4 class="dark">Our Team</h4>
          <span class="primary-text">
            Madhu Print is blessed with a team of expert professionals who are well-versed with their profession. The team is always ready to cater to all the needs and queries of the clients. At the time of delivery the clients are provided with the complete knowledge of the products, the features and various other aspects.
          </span>
          <h4 class="dark">Contact Us</h4>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            House No.4, Gali No. 1, Gurmandi, Delhi-110007
          </p>
          <p>
            +91-9910855144, +91-9910018514
          </p>
          <p>
            pulkit_oswal@hotmail.com
          </p>
        </div>
        <div class="pull-right" style="width: 30%;">
          <%= image_tag 'abt-us.png', style: 'width: 100%;' %>

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <h4 class="dark">What our customer has to say!</h4>
        <div class="feedback">
          <blockquote>
            <p>Great customer service, shirts arrived on the date promised, quality and printing was perfect!</p>
            <footer><cite title="Source Title">Vaibhav Aggarwal</cite></footer>
          </blockquote>
        </div>
        <div class="quality">
          <h4 class="dark">Quality Assurance</h4>
          All the Transfer Stickers manufactured by us are of superior quality. The Transfer Stickers pass the entire necessary quality control test before they are delivered to the customers. The tests are conducted in the presence of the quality control officer.
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
